#theForm{
	height:250px;
	border:5px dashed #7885cc;
	padding:5px;
	background-color: #abb6ff;
}

.box{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	background-color: #49599a;
}

#btnHolder{
	text-align: center;
	margin:auto;
}

#resultLine{
	margin-top: 2%;
	font-size: 15px;
}

